<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title>GeoTagApp</title>
		<link href='./stylesheets/style.css' rel='stylesheet'/>
	</head>

	<body>

		<header>
			<img alt="an image of a map and location" src="./images/location.png"
				 width="100">
			<h1>GeoTagApp</h1>
			<nav>
				<a href="#">About</a> | <a href="#">Help</a> | <a
						href="/">Home</a>
			</nav>
		</header>

		<main class="row">

			<section class="tagging col-3">
				<h2>Tagging</h2>

				<!-- ############### Aufgabe1a Form1 Start -->
				<form action="/tagging" id="tag-form" method="post">
					<fieldset>
						<legend>Enter new GeoTag</legend>
						<label for="latitude">latitude</label>
						<input id="latitude" pattern="[0-9]+[.]?[0-9]+" placeholder="49.01379" required type="text"/>

						<label for="longitude">logitude</label>
						<input id="longitude" pattern="[0-9]+[.]?[0-9]+" placeholder="8.390071" required type="text"/>

						<label for="name">name</label>
						<input id="name" maxlength="10" placeholder="some name" required type="text"/>

						<label for="hashtag">hashtag</label>
						<input id="hashtag" maxlength="11" pattern="#[a-zA-Z]{1,10}" placeholder="# + max. 10 letters" type="text"/>

						<input type="submit" value="submit"/>
					</fieldset>
				</form>
				<!-- ############### Aufgabe1a Form1 Ende -->

			</section>

			<section class="discovery col-9">
				<h2>Discovery</h2>

				<!-- ############### Aufgabe1a Form2 Start -->
				<form action="/discovery" id="filter-form" method="post">
					<fieldset>
						<legend>Filter by Searchterm</legend>
						<input id="searchterm" placeholder="search term" type="text"/>
						<input type="submit" value="apply"/>
						<input id="hidden_latitude" type="hidden" value=""/>
						<input id="hidden_longitude" type="hidden" value=""/>
					</fieldset>
				</form>
				<!-- ############### Aufgabe1a Form2 Ende -->

				<div class="row">
					<div class="taglist col-5">
						<ul id="results">
							<% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
								<li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
							<% }); %>
						</ul>
					</div>

					<div class="tagmap col-7">
						<img alt="a map with locations" id="result-img" src="./images/mapview.jpg"/>
						<div class="caption">Result map</div>
					</div>
				</div>

			</section>

		</main>

		<footer>
			<span>2017 by LKIT</span>
		</footer>

		<!-- Load JavaScripts
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="./javascripts/geotagging.js"></script>
	</body>
</html>
