label, input {
    display: block;
}

#filter-form input {
    display: inline-block;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row {
    display: flex;
}

footer, header {
    background: grey;
    padding: 24px;
    color: white;
}

ul {
    margin: 0px;
    padding: 0px;
}

fieldset input {
    padding: 12px;
    margin: 6px;
}

#result-img {
    width: 100%;
    height: 100%;
}

#results li {
    background: #00B7FF;
    padding: 6px;
    margin: 12px;
    color: white;
    list-style: none;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media (max-width: 850px) {
    .row {
        flex-direction: column;
    }

    [class*="col-"], input {
        width: 100%;
    }
}

a {
    color: #00B7FF;
}
